.card {
  position: relative;
  background-color: #0a0a0a;
  .heart {
    position: absolute;
    top: 10px;
    right: 12px;
    .click-favorite {
      cursor: pointer;
    }
  }
  .card-title {
    color: #fff;
  }
  .card-text {
    color: #aaa;
  }
}
