.card {
  position: relative;
  background-color: #0a0a0a;

  .heart {
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: #00000030;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #00000050;
    }

    .click-favorite {
      cursor: pointer;
    }
  }
  .card-title {
    color: #fff;
  }
  .card-text {
    color: #aaa;
  }
}
